<div class="container">
    <div class="button">
        <button type="button" class="addButton" (click)="openFormCheck()">ДОДАТИ АКЦІЮ</button>
    </div>

    
    <div class="forForm" [hidden]="!openForm">
        <form [formGroup]="actionsForm" (ngSubmit)="addAction()">
            <input name="name" formControlName="name" type="text" class="input"  id="name" placeholder="*name">
            <input name="title" formControlName="title" type="text" class="input" id="title" placeholder="*title">
            <textarea name="description" formControlName="description" type = "text"  id="description" placeholder="*decription"></textarea>

            <ng-container *ngIf="!isUploaded">
                <input class="formFile" type="file" id="formFile" (change)="upload($event)" >
                <p>{{ uploadPercent }}</p>
            </ng-container>
            
            <ng-container *ngIf="isUploaded">
                <img class="imgAdd" [src]="valueByControl('imagePath')" alt="">
                <button type="button" class="btn-danger" (click)="deleteImage()">delete</button>
            </ng-container>
            
            <div class="buttons">
                <button [disabled]="actionsForm.invalid" type="submit" class="addAction">{{ editStatus ? 'ЗБЕРЕГТИ' : 'ДОБАВИТИ' }}</button>
                <button type="button"  (click)="closeForm()">закрити</button>
            </div>
        </form>            
    </div>

    <table [hidden]="openForm">
        <thead>
            <tr>
                <td>
                    Дата
                </td>
                <td>
                    Назва
                </td>
                <td>
                    Заголовок
                </td>
                <td>
                    Опис
                </td>
                <td>
                    Картинка
                </td>
                <td>
                    Дії
                </td>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let action of adminActions">
                <td>{{ action.date | date: 'MM.YYYY'}}</td>
                <td>{{ action.name }}</td>
                <td>{{ action.title }}</td>
                <td>{{ action.description | slice:0:30 }}
                    <span *ngIf="action.description.length > 20">...</span> 
                </td>
                <td>
                    <img [src]="action.imagePath" alt="" height="50px">
                </td>
                <td>
                    <button type="button" style="width: 60%;" (click)="editAction(action)">Реагувати</button>
                    <button [disabled]="editStatus" type="button" style="width: 60%;" (click)="deleteAction(action)">Видалити</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>