<div class="delivery-block">
    <div class="delivery-head">
        Доставка та оплата
    </div>

    <div class="main">
        <div class="green-yellow">
            <div class="green">
                <div class="green-img"></div>
                <div class="green-text">
                    <p class="green-title">Зелена зона</p>
                    <p class="first-under-title-g">
                        В межах зеленої зони ми доставляємо протягом
                        <span>1 год.</span>
                    </p>
                    <p class="second-under-title-g">
                        Мінімальна сума замовлення в цю зону становить
                        <span>200 грн</span>
                    </p>
                </div>
            </div>

            <div class="yellow">
                <div class="yellow-img"></div>
                <div class="yellow-text">
                    <p class="yellow-title">Жовта зона</p>
                    <p class="first-under-title-y">
                        В межах жовтої зони ми доставляємо протягом
                        <span>1,5 год.</span>
                    </p>
                    <p class="second-under-title-y">
                        Мінімальна сума замовлення в цю зону становить
                        <span>300 грн</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- map -->
        <div class="map">
            
        </div>

        <div class="text-under-map">
            <p class="first-under-map">
                Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати. Чіткість наших стандартів роботи забезпечує швидке і якісне виконання замовлень для наших гостей.
            </p>
            <p class="second-under-map">
                Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо час доставки.
                Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до 1 год. В жовту зону, яка знаходиться значно далі – до 1,5 год.
            </p>
        </div>

        <div class="oplata">
            <div class="oplata-title">
                Оплата
            </div>

            <div class="sposobi">
                <div class="left-s">
                    <div class="photo-l-s">
                        <div class="photo-l"></div>
                    </div>
                    <div class="right-l-s">
                        <p class="oplata-got">
                            Оплата готівкою
                        </p>
                        <p class="secondary-got">
                            Розраховуйтесь за свої улюблені сушики готівкою при отриманні.
                        </p>
                    </div>
                </div>

                <div class="right-s">
                    <div class="photo-r-s">
                        <div class="photo-r"></div>
                    </div>
                    <div class="right-r-s">
                        <p class="bezgot">
                            Безготівкова оплата
                        </p>
                        <p class="secondary-bezgot">
                            Розраховуйтесь за свої улюблені сушики онлайн або карткою при отриманні.
                        </p>
                    </div>
                </div>
            </div>

            <div class="end-text">
                Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата онлайн або ж розрахунок карткою.
                <br>
                <br>
                Просто позначте найбільш зручний для Вас спосіб оплати при оформленні замовлення на сайті або ж повідомте про це оператора по телефону.
                <br>
                <br>
                Доставка «Моносуші» – це чіткі стандарти роботи, високий рівень сервісу та турбота про кожного гостя. Ми щодня розвиваємось, щоб почути лише три слова «Моносуші – це любов».
            </div>
        </div>
    </div>
</div>