<div class="products-block">
    <div class="products-head">
        Продукти
    </div>
    
    <div class="products-container">
        <ul class="categories-list">
            <li class="categories-list-item">Всі</li>
            <li class="categories-list-item"><a href="#">Філадельфія</a></li>
            <li class="categories-list-item"><a href="#">Каліфорнія</a></li>
            <li class="categories-list-item"><a href="#">Запечені</a></li>
            <li class="categories-list-item"><a href="#">Фірмові</a></li>
            <li class="categories-list-item"><a href="#">Макі</a></li>
            <li class="categories-list-item"><a href="#">Преміум</a></li>
        </ul>

        <div class="shop-container">
            <div class="product-item" *ngFor="let product of userProducts">
                <div class="product-image">
                    <div class="image-block">
                        <img [routerLink]="[ '/product-category/'+product.category.path, product.id ]" [src]="product.imagePath" alt="prod">
                    </div>
                </div>

                <div class="product-text">
                    <div [routerLink]="[ '/product-category/'+product.category.path, product.id ]" class="product-title">{{ product.name }}</div>
                    <div class="product-ing">
                        <p class="ing">{{ product.ingredient }}</p>
                        <p class="prod-weight">{{ product.weight }}</p>
                    </div>
                    <div class="price-count">
                        <p class="price">{{ product.price * product.count }} <span>грн</span></p>
                        <div class="counter">
                            <button class="count-min" (click)="productCount(product, false)" [disabled]="product.count===1">-</button>
                            <input type="text" class="count-value" [value]="product.count" readonly max="999">
                            <button class="count-max" (click)="productCount(product, true)">+</button>
                        </div>
                        <div class="forBuy">
                            <button class="buy" (click)="addToBasket(product)">ЗАМОВИТИ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>